<%if(theme.cnzz_analytics){%>
	<div class="hide">
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_<%= theme.cnzz_analytics%>'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D<%= theme.cnzz_analytics%>' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</div>
<%}%>
