<%if(theme.cnzz_analytics){%>
<div class="hide">
    <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan class='cnzz_stat_icon_<%= theme.cnzz_analytics%> hide' %3E%3Cscript%20src%3D%22https%3A%2F%2Fs95.cnzz.com%2Fz_stat.php%3Fweb_id%3D1272564536%22%3E%3C%2Fscript%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D<%= theme.cnzz_analytics%>%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<%}%>