<%if(theme.notification){%>
    <div class="widget">
        <h3 class="title"><%= __('notification') %></h3>
        <div class="notification">
            <%- theme.notification%>
        </div>
    </div>
<%}%>