<%if(theme.notification){%>
    <div class="widget notification">
        <h3 class="title"><%= __('notification') %></h3>
        <div>
            <%- theme.notification%>
        </div>
    </div>
<%}%>