<% if (theme.jsonContent.searchLocal ||  theme.jsonContent.searchGoogle){ %>
    <div class="widget">
        <h3 class="title"><%= __('search') %></h3>
        <div id="search-form">
            <div id="result-mask" class="hide"></div>
            <div class="search-area">
                <% if (theme.jsonContent.searchLocal) { %>
                    <input id="search-key" type="search" autocomplete="off" placeholder="<%= __('search_placeholder') %>">
                    <button type="button" class="search-form-submit" id="search-local"><%= __('search_local') %></button>
                <% } %>
                <% if (theme.jsonContent.searchGoogle) { %>
                    <%- search_form({'button':'谷歌搜索','text':'Google Search'}) %>
                <% } %>
            </div>
            <div id="result-wrap" class="hide">
                <div id="search-result"></div>
            </div>
            <div class="hide">
                <template id="search-tpl">
                    <div class="item">
                        <a href="/{path}" title="{title}">
                            <div class="title">{title}</div>
                            <div class="content">{content}</div>
                        </a>
                    </div>
                </template>
            </div>
        </div>
    </div>
<% } %>