<% if (theme.visit_counter) { %>
    <span id="busuanzi_container_site_uv style='display:none'">
        <i class="fa fa-eye"></i> &nbsp;您是第&nbsp;<%- theme.visit_counter.site_uv %><i id="busuanzi_value_site_uv"></i>&nbsp;位小伙伴
    </span>
    <span id="busuanzi_container_site_pv style='display:none'">
        <i class="fa fa-area-chart"></i> &nbsp;浏览量排&nbsp;<%- theme.visit_counter.site_pv %><i id="busuanzi_value_site_pv"></i>&nbsp;名
    </span>
<% } %>
