<div class="widget_stick">
    <div class="stick"> <strong>优惠活动推荐</strong>
    <!--
        <h2>发送邮件:</h2>
        <p>发送地址:&nbsp; <a href="mailto:snippet@91h5.cc" target="_blank"> snippet@91h5.cc</a>
        </p>
    -->
        <p>
            <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=xs0pypd2" target="_blank">
                <img src="http://snippet.shenliyang.com/img/aliyun_djq1000.png">
            </a>
        </p>
        <hr/>
        <p>
            <a href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=xs0pypd2" target="_blank">
                <i class="fa fa-bullhorn"></i>&nbsp; 阿里云服务器1核1G仅需234元/年，限时2折起
            </a>
        </p>

    </div>
</div>
<style>
.widget_stick {
    margin-bottom: 10px;
}

.widget_stick .stick {
    display: block;
    padding: 0 15px 15px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-size: 12px;
    border-radius: 4px;
}

.widget_stick .stick h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
    color: #FF787E;
}

.widget_stick .stick p {
    color: #5f6367;
    margin-bottom: 0;
}

.widget_stick .stick p a{
    display: block;
    font-size: 13px;
    color:#00c1de
}

.widget_stick .stick strong {
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    background-color: #FF787E;
}

.widget_stick .stick a img {
    width: 100%;
    max-width: 100%;
}


</style>


