<div class="widget_stick">
    <div class="stick">
        <strong>阿里云优惠活动</strong>
        <p>
            <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=xs0pypd2" target="_blank">
                <img src="http://snippet.shenliyang.com/img/aliyun_djq2000.png">
            </a>
        </p>
        <hr />
        <h3><i class="fa fa-bullhorn"></i> 阿里云推广活动</h3>
        <p>
            <a style="color:#FF0036" href="https://www.aliyun.com/acts/limit-buy?userCode=xs0pypd2" target="_blank">
                【阿里云爆款限时抢】 8月特惠 限时2折
            </a>
            <a href="https://m.aliyun.com/markets/aliyun/act/IoT/88yundashi?userCode=xs0pypd2" target="_blank">
                【8.8-8.18】物联网狂欢节
            </a>
            <a href="https://www.aliyun.com/acts/hotsale?userCode=xs0pypd2" target="_blank">
                【阿里云爆款特惠】 限时优惠 低至3折
            </a>
        </p>
    </div>
</div>
<style>
.widget_stick {
    margin-bottom: 10px;
}

.widget_stick .stick {
    display: block;
    padding: 0 15px 15px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-size: 12px;
    border-radius: 4px;
}

.widget_stick .stick h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
    color: #FF787E;
}

.widget_stick .stick p {
    color: #5f6367;
    margin-bottom: 0;
}

.widget_stick .stick p a {
    display: block;
    font-size: 13px;
    color: #00c1de
}

.widget_stick .stick strong {
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    background-color: #FF787E;
}

.widget_stick .stick a img {
    width: 100%;
    max-width: 100%;
}

.widget_stick .stick h3 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}
</style>