<% if (site.tags.length){ %>
  <div class="widget">
    <h3 class="title"><%= __('tagcloud') %></h3>
    <div class="content tag-cloud">
      <% var config = theme.tagcloud_config;%>
        <%-tagcloud({
            min_font: config.min_font,
            max_font: config.max_font,
            unit: config.unit,
            amount: config.amount,
            orderby: config.orderby
        }) %>
    </div>
  </div>
<% } %>
