<div class="busuanzi">
    <% if(theme.visit_counter.site) { %>
        <%= __('visit_counter_pv') %>:
        <strong id="busuanzi_value_site_pv">
            <i class="fa fa-spinner fa-spin"></i>
        </strong>
        &nbsp; | &nbsp;
        <%= __('visit_counter_uv') %>:
        <strong id="busuanzi_value_site_uv">
            <i class="fa fa-spinner fa-spin"></i>
        </strong>
    <% } %>
</div>
