<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
	        <p><%- partial('_widget/site-visit') %></p>
                <span>Copyright &copy; <%= theme.since %>
                </span> | 
                <span>
                    Powered by <a href="//hexo.io" class="copyright-links" target="_blank" rel="nofollow">Hexo</a>
                </span>
		<p>
                    Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>
		</p>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
