<header class="main-header">

    <div class="row">
        <div class="col-sm-6">
            <div class="branding">
                <a  href="/" title="">
                    <%- image_tag('img/header_logo.png',{alt:'Snippet 博客主题'}) %>
                </a>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="subtitle"><span><%- config.subtitle%></span></div>

        </div>
    </div>


</header>