<header class="main-header">
    <div class="main-header-box">
        <a class="branding" href="/" title="">
            <%- image_tag('img/header_logo.png',{alt:'Snippet 博客主题'}) %>
        </a>
        <h2 class="text-hide">Snippet主题</h2>
        <%- image_tag('img/header_logo.png',{alt:'Snippet 博客主题',class:'hide'}) %>
    </div>
</header>