<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header"><span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu" id="mnav">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <% theme.menu.forEach(function (item) {%>
                            <li role="presentation"><a href="<%- item.url%>"><i class="fa fa-fw <%- item.icon%>"></i><%= __(item.page+'') %></a>
                            </li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>