<%if(theme.cnzz_anaylytics){%>
    <div class="hide">
    <script src="https://s4.cnzz.com/z_stat.php?id=1261768793&web_id=<%= theme.cnzz_anaylytics%>" language="JavaScript"></script>
    </div>
<%}%>

