<%if(theme.cnzz_anaylytics.enable){%>
    <span <%if(theme.cnzz_anaylytics.hiden){%>class="hide" <%}%>>
    <script src="https://<%= theme.cnzz_anaylytics.head%>.cnzz.com/z_stat.php?id=<%= theme.cnzz_anaylytics.id%>&web_id=<%= theme.cnzz_anaylytics.id%>" language="JavaScript"></script>
    &nbsp;&nbsp;|</span>
<%}%>

